<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="6">
                <div class="clearfix">
                    <h1 class="float-start display-3 me-4 text-warning">403</h1>
                    <h4 class="pt-3">Truy cập bị từ chối.</h4>
                    <p class="text-body-secondary float-start">
                        Bạn không có quyền truy cập trang này. Vui lòng trở lại trang chủ.
                    </p>
                </div>
                <div class="mt-4">
                    <button cButton color="primary" routerLink="/">Trở về trang chủ</button>
                </div>
            </c-col>
        </c-row>
    </c-container>
</div>